<footer class="main-footer mt-5 pt-4 pb-4 text-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Entre em Contato</h3>
                <address>
                    +55 81 996-763-485
                    <br/>
                    <a href="maito:{{contato_email}}" class="text-light">{{contato_email}}</a>
                </address>
            </div>
        </div>
    </div>
    <div class="rights">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% now 'Y' %} Python Pro GG. Todos os direitos reservados
                </div>
            </div>
        </div>
    </div>
</footer>