{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Home{% endblock title %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="jumbotron">
                <h2>
                    Projeto para aprendizado do Framework Django
                </h2>
                <h4 class="mt-4">Entre na fila de espera</h4>

                <form action="https://herokuapp.us1.list-manage.com/subscribe/post?u=6c52c56f8b4081c14a8a0cf0c&amp;id=6849191ddd"
                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                      class="form-row align-items-center" target="_blank" novalidate>
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <label class="sr-only" for="mce-EMAIL">E-mail</label>
                            <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"
                                   placeholder="exemplo@email.com">
                        </div>
                        <div class="col-auto">
                            <label class="sr-only" for="mce-FNAME">Nome</label>
                            <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME"
                                   placeholder="Seu Nome">
                        </div>

                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                   name="b_6c52c56f8b4081c14a8a0cf0c_6849191ddd"
                                                                   tabindex="-1"
                                                                   value=""></div>


                        <div class="col-auto">
                            <input type="submit" value="Salvar" name="subscribe"
                                   id="mc-embedded-subscribe" class="btn btn-primary">
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">
                    Mais detalhes sobre meus estudos
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <img src="{% static 'img/foto_gg.png' %}" alt="Logo do site com as letra Gg num fundo azul"
                             class="img-thumbnail float-start m-3"/>
                        Mussum Ipsum, cacilds vidis litro abertis. Todo mundo vê os porris que eu tomo, mas ninguém vê
                        os tombis que eu levo! Viva Forevis aptent taciti sociosqu ad litora torquent. Atirei o pau no
                        gatis, per gatis num morreus. Detraxit consequat et quo num tendi nada. Link para um
                        <a href="https://favicon.io/favicon-generator/" target="_blank">Gerador de Favicon</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock body %}